{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Django TimeTracker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'timetracker/css/style.css' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

        {% block style %}
        {% endblock%}
    </head>
    <body>
        <header>
            <div class="page-header container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><a href="/timetracker/">Django TimeTracker</a></h1>
                    </div>
                    <div class="col-md-6 text-right pull-right">
                        {% if user.is_authenticated %}
                        <span>Hi, {{ user.username }}</span> 
                        &nbsp; | &nbsp;
                        <a href="{% url 'logout' %}">Logout</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </header>

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    
                {% if user.is_authenticated %}
                    {% block content %}
                    {% endblock%}
                {% else %}
                    <a class="lead" href="{% url 'login' %}">Log in</a>
                {% endif %}
                </div>
            </div>
        </div>
        {% block script %}
        {% endblock%}
    </body>
</html>