{% load app_filter %}


{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
	{% for field in form %}
	
	{% if field.errors %}
	<li> {{ field.errors|striptags|replace_string:"This field"|format_string:field.label }}</li>
	{% endif %}
	
	{% endfor %}
	</ul>
</div>
{% endif %}

<form method="post" data-validate-duration-url="{% url 'timetracker:ajax:validate_duration' %}">
{% csrf_token %}
	{% for field in form %}
		{{ field }}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Log hours" />
</form>

{% block script %}
<script>
$(document).ready(function() {
	$(".duration_field").change(function () {
      var form = $(this).closest("form");
      $.ajax({
   		 	context: this,
      	type: 'POST',
        url: form.data("validate-duration-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (!data.is_valid) {
						$(this).addClass('has-error');
					} else {
						$(this).removeClass('has-error');
					}
        }
      });
    });
});
</script>
{% endblock %}

{% block style %}
<style>
	.has-error {
		border: 1px solid red !important;
	}
</style>
{% endblock %}