{% extends 'base/base.html' %}

{% block content %}

<h3>Update Entry Log</h3>

<br>

<form method="post">
{% csrf_token %}
    <div>
    {{ form.as_p }}
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Update" /> <a href="{% url 'timetracker:user-log' %}" class="btn btn-link">back to list</a>
</form>

<script>
    $(document).ready(function () {
        //your code here
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

{% endblock %}