{% extends 'base/base.html' %}

{% block content %}

<h3>Time Entry Log</h3>

<br>

<p><strong>Date:</strong> {{ timeentry.time_entry_date }}</p>
<p><strong>Duration:</strong> {{ timeentry.time_entry_duration }}</p>
<p><strong>Remarks:</strong> {{ timeentry.remarks }}</p>
<p><strong>Project:</strong> {{ timeentry.project }}</p>

<a href="{% url 'timetracker:log:update' timeentry.id %}" class="btn btn-primary">Update</a><a href="{% url 'timetracker:user-log' %}" class="btn btn-link">Back to list</a>

{% endblock %}