{% extends 'base/base.html' %}

{% block content %}

<h3>Delete Entry Log</h3>

<br>

<form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" class="btn btn-primary" value="Confirm" /> <a href="{% url 'timetracker:user-log' %}" class="btn btn-default">Cancel</a>
    </form>

{% endblock %}