{% extends 'base/base.html' %}

{% block content %}

<h3>Add Entry Log</h3>

<br>

<div class="entry_log">
    {% include "timetracker/add_entry_log.html" %}    
</div>

<br><hr><br>

<div class="user_log">
    {% include "timetracker/user_log.html" %}    
</div>

{% endblock %}