{% load app_filter %}

<h4>User logs</h4>

<form method="get">
    <div class="filter">
        Filter by date: <input name="filter_date" id="filter_date" class="datepicker" value="{{request.GET.filter_date}}"/>
        <input type="submit" value="Filter" class="btn btn-default" id="filter">
    </div>
</form>

<div class="row">
    <div class="{% if filtered %} col-md-8 {% else %} col-md-12 {% endif %} user_logs">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Duration</th>
            <th>Remarks</th>
            <th>Project</th>
            <th width="150px">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% if user_log %}

    {% for log in user_log %}
    <tr class="{% if log.is_late_log %}  late_log {% endif %} user_log_row" id="user_log{{log.id}}" data-id="user_log{{log.id}}">
        <td>
            <span class="statictext statictext_time_entry_date">
                {{ log.time_entry_date }}
            </span>
        </td>
        <td class="cell">
            <span class="statictext statictext_time_entry_duration">
                {{ log.time_entry_duration }}
            </span>
            <span class="editable">
                <input type="text" name="time_entry_duration" id="time_entry_duration_{{log.id}}" value="{{ log.time_entry_duration }}">
            </span>
        </td> 
        <td class="cell">
            <span class="statictext statictext_remarks">
                {{ log.remarks|default_if_none:"None" }}
            </span>
            <span class="editable">
                <input type="text" name="remarks" id="remarks_{{log.id}}" value="{{log.remarks|default_if_none:""}}">
            </span>
        </td> 
        <td class="cell">
            <span class="statictext statictext_project">
                {{ log.project }}
            </span>
            <span class="editable">
                {{ form.project }}
            </span>
        </td>
        <td class="text-center action">
            <div>
                <span>
                    <a href="{% url 'timetracker:log:detail' log.id %}" class="btn btn-link btn-sm" data-toggle="tooltip" title="View entry log">
                        <i class="fa fa-external-link"></i>
                    </a>    
                </span>
                <span>
                    <a href="#" class="btn btn-link btn-sm" data-toggle="tooltip" title="Move to date" onclick="move_to_date({{log.id}})">
                        <i class="fa fa-calendar"></i>
                    </a>    
                </span>
                <a href="{% url 'timetracker:log:update' log.id %}" class="btn btn-link btn-sm" data-toggle="tooltip" title="Update entry log">
                    <i class="fa fa-edit"></i>
                </a>
                <a data-toggle="tooltip" title="Delete entry log">
                <button type="button" class="btn btn-link btn-sm confirm_delete_dialog" data-toggle="modal" data-target="#delete_modal">
                    <i class="fa fa-trash"></i>
                </button>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}

    {% else %}
    <tr>
        <td colspan="4" class="text-center">
            No user logs retrieved.
        </td>
    </tr>
    {% endif %}
    </tbody>
    </table>
</div><!-- column div -->

{% if filtered %}
<div class="sidepanel col-md-4">
    <p><b>Total hours for the day:</b> <span id="total_hours_for_day">{{ total_hours.day }}</span></p>
    <p><b>Total hours for the week:</b> <span id="total_hours_for_week">{{ total_hours.week }}</span></p>
    <p><b>Total hours for the month:</b> <span id="total_hours_for_month">{{ total_hours.month }}</span></p>
</div><!-- column div -->
{% endif %}

</div><!-- row div -->

<div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Entry Log</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="log_to_delete" id="log_to_delete"/>
                <p>Are you sure you want to delete entry log?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_log_entry()">Confirm</button>
            </div>
        </div>
    
    </div>
</div>

{% block script %}
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
        $('[data-toggle="tooltip"]').tooltip();
        $(".confirm_delete_dialog").click(function() {
            var logBtn = $(this)[0];
            var logId = $(logBtn).parents('tr').data('id').replace('user_log','');
            $(".modal-body #log_to_delete").val( logId );
        });
        $(".cell:not(.editable)").click(function() {
            $('.cell').removeClass('editable');
            $(this).addClass('editable');
            $($(this).find('input,select')[0]).focus();
        });
        $('.editable input,.editable select')
            .on("keyup", function(e) {
                if (e.keyCode == 13) {
                    // submit form
                    var input = $(this);
                    var name = $(input).attr('name');
                    var value = $(input).val();
                    var id = $(input).attr('id').replace(name+"_","");
                    update_entry_log(id,name,value);
                }
            })
            .blur(function() {
                // form submit
                var input = $(this);
                var name = $(input).attr('name');
                var value = $(input).val();
                var id = $(input).attr('id').replace(name+"_","");
                if(name=="project") {
                    id = $($(input).closest('tr')[0]).data('id').replace('user_log','');
                }
                update_entry_log(id,name,value);
            });
    });

    function getCookie(c_name) {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });

    function delete_log_entry() {
        id = $(".modal-body #log_to_delete").val();
        var url_mask = "{% url 'timetracker:ajax:delete' pk=12345 %}".replace(/12345/, id.toString());
        $.ajax({
            type: 'POST',
            url: url_mask,
            data: 'pk='+id,
            crossDomain: false,
            success: function(ctx) { 
                var userlog = $('#user_log'+id);
                $('html, body').animate({
                    scrollTop: userlog.offset().top
                }, 100);
                userlog.fadeOut("slow");
            },
        });
    }

    function update_total_hours(total_hours) {
        for(var key in total_hours) {
            $('#total_hours_for_'+key).text(total_hours[key]);
        }
    }

    function update_entry_log(id,name,value) {
        var url_mask = "{% url 'timetracker:ajax:update' pk=12345 %}".replace(/12345/, id.toString());
        var data = {};
        data['name'] = name;
        data[name] = value;
        $.ajax({
            type: 'POST',
            url: url_mask,
            data: data,
            crossDomain: false,
            success: function(ctx) {
                // hide input
                $('.cell').removeClass('editable');
                val = ctx.value;
                if(name.indexOf("date") > -1) {
                    val = moment(val).format('MMMM D, YYYY');
                }
                if(val == "") {
                    val = "None";
                }
                $("#user_log"+id+" .statictext_"+name).text(val);
                update_total_hours(ctx.total_hours);
            },
        });
    }

    function move_to_date(id) {
        value = $('#filter_date').val();
        if(value) {
            update_entry_log(id,'time_entry_date',value);
        }
    }

</script>
{% endblock %}

{% block style %}
<style>
    tr td.action > div {
        color: #337ab7;
        display: none;
        width: 150px;
    }
    tr:hover td.action > div {
        display: inline-block;
    }
    td.cell .editable {
        color: black;
    }
    td.cell:not(.editable) .editable {
        display: none;
    }
    td.cell.editable .statictext {
        display: none;
    }
</style>
{% endblock %}