{% extends 'registration/base.html' %}

{% block content %}

<div class="text-center">

    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button> <a href="{% url 'signup' %}" class="btn btn-default">Sign up</a>
    </form>

    <br>
    
    <p><strong>-- OR --</strong></p>
    <div>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default">Login with Google</a>
    </div>

</div>

{% endblock %}