{% extends 'registration/base.html' %}

{% block content %}

<div class="text-center">
<h2>Logout</h2>
Thanks for spending some quality time with the Web site today.
<br><br>
<a class="btn btn-primary" href="{% url 'login' %}">Log in</a>
</div>
{% endblock %}