{% extends 'registration/base.html' %}

{% block content %}

<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Signup</button> <a href="{% url 'login' %}" class="btn btn-default">Log in</a>
</form>

<p><strong>-- OR --</strong></p>
<div>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default">Sign up with Google</a>
</div>

{% endblock %}