html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    
    margin-top: -20px;
}

header {
    background-color: #428bca;
    color: white;
}
.page-header.container {
    border: none !important;
}
header * {
    color: inherit;
}

.page-header .pull-right {
    padding-top: 25px;
}

tr.late_log {
    color: red;
}

.sidepanel {
    padding: 0 40px;
}

input:not([type=submit]), select {
    padding: 6px 4px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}